@import '../../styles/config';

.block {
  padding: 20px 26px;
  border-radius: var(--default-border-radius);
  margin-bottom: 20px;
  text-align: center;

  &.error {
    color: #de5959;
    background-color: #ffe9e9;
  }

  &.success {
    color: #5f9025;
    background-color: #ebf6e0;
  }

  &.info {
    color: #3184ae;
    background-color: #e9f7fe;
  }
}
