@import '../../styles/config';

.block {
  padding: 8px 10px;
  border-radius: var(--default-border-radius);
  box-shadow: var(--box-shadow-lg);
  margin-bottom: 20px;
  text-align: center;

  &.error {
    background-color: rgba(#f00, 0.2);
    border: 1px solid var(--color-red);
    color: var(--color-red);
  }

  &.success {
    background-color: rgba(#008000, 0.2);
    border: 1px solid var(--color-green);
    color: var(--color-green);
  }

  &.info {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
  }
}
