@import '../../../../styles/config';

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.form {

  &.disabled {
    pointer-events: none;
  }
}

.label {
  margin-bottom: 10px;

  span {
    color: var(--color-red);
  }
}

.tab {
  position: relative;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--default-border-radius);
  overflow: hidden;
}

.header {
  @include flex($align-items: center);

  height: 50px;
  background-color: var(--color-primary);
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.link {
  @include flex(center, center);

  cursor: pointer;
  padding: 0 15px;
  height: 100%;
  white-space: nowrap;
  overflow: visible;
  transition: var(--default-transition);
  color: var(--color-white);

  &:hover,
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.panel {
  display: none;
  padding: 20px;
  background-color: var(--color-white);

  &.active {
    display: block;
  }
}
