@import "../../styles/config";

.content {
  padding: 0 10px;
  text-align: center;

  p {
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

.title {
  margin-bottom: 20px;
}

.icon {
  @include flex(center, center);
  @include size(58px);

  margin: 0 auto 30px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
  box-shadow: 0 0 0 5px rgba(102, 103, 107, 0.1);
  background-color: var(--color-primary);
  animation: pulse 2s infinite;
  color: var(--color-white);

  svg {
    @include size(25px);

    fill: var(--color-white);
  }
}

@keyframes pulse {

  0%,
  100% {
    box-shadow: 0 0 0 5px rgba(102, 103, 107, 0.15);
  }

  50% {
    box-shadow: 0 0 0 8px rgba(102, 103, 107, 0.15);
  }
}
