@import '../../styles/config';

.block {
  @include size(100%);

  display: block;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  transition: var(--default-transition);

  svg {

    path {
      transition: var(--default-transition);
      fill: var(--color-text);
    }
  }

  &:hover {
    background-color: var(--color-text);

    svg {

      path {
        fill: var(--color-white);
      }
    }
  }

  &.active {
    background-color: var(--color-yellow);

    svg {

      path {
        fill: var(--color-white);
      }
    }
  }
}
