@import '../../../styles/config';

.container {
  max-width: 770px;
}

.row {
  justify-content: center;
}

.col {
  position: relative;
}

.tooltip {
  @include size(23px);

  position: absolute;
  z-index: 1;
  top: var(--grid-outher);
  right: var(--grid-outher);
  transform: translate(-20px, 20px);
}

.button {
  margin: 20px auto 0;
  max-width: 200px;
}
