@import '../../../../styles/config';

.block {
  width: 210px;
  text-align: center;

  @include media-max(map_get($brackpoints, md) - 1) {
    width: 160px;
  }
}

.photo {
  @include size(100%, 250px);

  margin-bottom: 14px;
  border-radius: 20px;

  @include media-max(map_get($brackpoints, md) - 1) {
    height: 187px;
  }
}

.name {
  margin-bottom: 3px;

  @include media-max(map_get($brackpoints, md) - 1) {
    font-size: 18px;
  }
}

.position {
  text-transform: uppercase;
  font-size: 14px;
}
