@import '../../styles/config';

.button {
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow-sm);
  white-space: nowrap;
  color: var(--color-white);

  &:hover {
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
