@import "../../styles/config";

:global {

  .slick-slider {
    @include flex($align-items: center);
    @include size(100%);
  }

  .slick-list {
    width: inherit;
  }

  .slick-arrow {
    @include size(55px);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    text-indent: -1000;
    background-color: #d5d5d5;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-size: 12px 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:hover,
    &.active {
      background-color: var(--brand);
    }

    &.slick-next {
      right: 0;
      border-radius: 33% 66% 70% 30%/49% 62% 38% 51% !important;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.375639 17C0.168556 17.0004 0.000387258 16.8352 5.8183e-07 16.6311C-0.00017518 16.5327 0.0394768 16.4383 0.110168 16.3688L8.09454 8.50021L0.110168 0.63167C-0.0364524 0.487163 -0.0364524 0.252888 0.110168 0.108381C0.256789 -0.0361269 0.494489 -0.0361269 0.64111 0.108381L8.89022 8.2386C9.03659 8.3829 9.03659 8.61683 8.89022 8.76116L0.64111 16.8913C0.570805 16.9609 0.475261 17 0.375639 17Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    &.slick-prev {
      left: 0;
      border-radius: 33% 66% 70% 30%/49% 62% 38% 51% !important;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.62436 1.90735e-06C8.83144 -0.000379196 8.99961 0.164812 9 0.36891C9.00018 0.467304 8.96052 0.561713 8.88983 0.631212L0.905456 8.49979L8.88983 16.3683C9.03645 16.5128 9.03645 16.7471 8.88983 16.8916C8.74321 17.0361 8.50551 17.0361 8.35889 16.8916L0.109781 8.7614C-0.0365933 8.6171 -0.0365933 8.38317 0.109781 8.23884L8.35889 0.10865C8.42919 0.0391161 8.52474 1.90735e-06 8.62436 1.90735e-06Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    &.slick-disabled {
      background-color: #999;
      pointer-events: none;
    }
  }
}


.fluid {

  &.white {
    background-color: var(--white);
  }

  &.grey {
    background-color: var(--grey-100);
  }
}

.section {
  padding: 50px 0;
}

.categories {
  @include flex(center, center, row, wrap);
}

.category {
  @include size(250px, 150px);

  margin: 5px;
}

.card {
  width: 380px;
  padding: 10px;
}

.company {
  padding: 10px;
}
