@import "../../styles/config";

.block {
  @include flex(center, center);
}

.check {
  position: relative;
  margin-right: 20px;
  flex: 1;
  height: 48px;

  &:last-child {
    margin-right: 0;
  }
}

.radio {
  @include size(0);

  position: absolute;
  z-index: -1;

  &:checked + .label {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.label {
  @include size(100%);
  @include flex(center, center);

  cursor: pointer;
  border-radius: var(--default-border-radius);
  background-color: var(--color-secondary);
  transition: var(--default-transition);

  &:hover {
    color: var(--color-primary);
  }
}
