@import '../../../styles/config';

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.wrapper {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--default-border-radius);
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrap {
  margin-bottom: 20px;
}

.form {
  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.head,
.body {
  padding: 20px;
}

.head {
  border-bottom: 1px solid var(--color-border);
}

.title {
  color: var(--color-title);
}

.label {
  margin-bottom: 10px;

  span {
    color: var(--color-red);
  }
}
