@import '../../styles/config';

.block {
  @include flex($justify-content: flex-end, $direction: column);

  margin: 0 auto;
  padding-top: 70px;;

  &:hover {
    .wrapper {
      z-index: 2;
    }

    .skills {
      display: block;
    }
  }
}

.wrapper {
  position: relative;
  z-index: 1;
}

.content {
  @include size(100%);

  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--box-shadow-lg);
  background-color: var(--color-white);
}

.photo {
  @include size(120px);

  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: var(--color-secondary);
  overflow: hidden;
}

.favourite {
  @include size(40px);

  position: absolute;
  top: 25px;
  right: 20px;
}

.wrap {
  @include flex($direction: column);
  @include size(100%);

  padding: 70px 20px 20px;
}

.head {
  @include flex(center, center);
}

.body {
  padding-top: 20px;
  flex-grow: 1;
}

.name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  color: var(--color-title);
}

.info {
  @include flex($wrap: wrap);

  margin-bottom: 10px;
}

.cell {
  flex: 1;
  min-width: 50%;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 8px;
  color: var(--color-title);
  font-size: 14px;
}

.value {
  margin-top: 5px;
}

.skills {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 10px 15px;
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category {
  padding: 5px 0;
  color: var(--color-title);
}

.subcategory {
  position: relative;
  padding: 5px 0 5px 10px;

  &::before {
    @include size(5px);

    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-primary);
    content: '';
  }
}

.footer {
  @include flex($justify-content: center, $align-items: center, $wrap: wrap);
}

.button {
  flex: 1;
  margin: 5px;
  height: var(--default-height);
}
