@import '../../styles/config';

.title {
  margin: var(--default-title-outher);
  max-width: 826px;
  text-align: center;
}

.actions {
  @include flex(center, center);

  @include media-max(map_get($brackpoints, sm)) {
    flex-direction: column;
  }
}

.link {
  @include flex(center, center);
  @include size(100%, 80px);

  margin-right: 26px;
  max-width: 400px;
  background-size: 300% 300%;

  &:last-child {
    margin: 0;
  }

  &:hover {
    transform: scale(1.05);
  }

  @include media-max(map_get($brackpoints, lg)) {
    max-width: 329px;
  }

  @include media-max(map_get($brackpoints, sm)) {
    margin-right: 0;
    margin-bottom: 29px;
  }
}

.icon,
.text {
  position: relative;
}

.icon {
  @include size(45px);

  margin-right: 8px;

  @include media-max(map_get($brackpoints, sm)) {
    @include size(40px);
  }
}

.text {
  color: var(--color-text);
  font-size: 20px;
}
