@import '../../../../styles/config';

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.form {

  &.disabled {
    pointer-events: none;
  }
}

.block {
  padding: 5px 0;
}

.photo {
  margin: 20px 0;
}

.check {
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow-sm);
  transition: var(--default-transition);
  min-width: 100px;
  color: var(--color-primary);
  font-family: var(--font-family-additional);
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }
}

.file {
  display: none;
}

.list {
  @include flex($wrap: wrap);
}

.item {
  @include flex(center, center);

  padding: 0 10px;
  margin: 0 5px 5px 0;
  background-color: var(--color-secondary);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  min-width: 50px;
  height: 30px;
  font-size: 13px;

  &.active,
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.label {
  margin-bottom: 10px;

  span {
    color: var(--color-red);
  }
}

.dropdown {
  @include size(100%, var(--default-height));

  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--default-border-radius);
  background-color: var(--color-white);
  color: var(--color-text);

  &.active {
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;

    .toggle {
      display: block;
    }

    .icon {
      transform: none;
    }
  }
}

.toggle {
  display: none;
}

.select {
  @include flex($align-items: center);
  @include size(100%);

  position: relative;
  padding-right: 30px;
}

.icon {
  position: absolute;
  right: 5px;
  top: 17px;
  transform: rotateZ(180deg);
  transition: var(--default-transition);
}

.toggle {
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  z-index: 1;
  overflow-y: auto;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
  max-height: 300px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: var(--color-primary);
  }
}

.value {
  padding: 10px;
  border-top: 1px solid var(--color-border);
  transition: var(--default-transition);

  &.active,
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.tab {
  position: relative;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--default-border-radius);
  overflow: hidden;
}

.header {
  @include flex($align-items: center);

  height: 50px;
  background-color: var(--color-primary);
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.link {
  @include flex(center, center);

  cursor: pointer;
  padding: 0 15px;
  height: 100%;
  white-space: nowrap;
  overflow: visible;
  transition: var(--default-transition);
  color: var(--color-white);

  &:hover,
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.panel {
  display: none;
  padding: 20px;
  background-color: var(--color-white);

  &.active {
    display: block;
  }
}
