@import "../../styles/config";

.category,
.subcategory,
 {
  @include flex($align-items: center);

  width: 100%;
  cursor: pointer;
}

.wrapper {

  &.active,
  &:hover {

    .category {
      color: var(--color-primary);
    }

    .icon {

      path {
        fill: var(--color-primary);
      }
    }
  }


  &.active {

    .dropdown {
      display: block;
    }

    .icon {
      transform: rotateZ(90deg);
    }
  }
}

.dropdown {
  display: none;
}

.category {
  padding: 7px 0;

  font-weight: var(--medium);

  a {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.subcategory {
  padding: 7px 0 7px 7px;
  font-size: 14px;
  transition: var(--default-transition);
}

.icon {
  @include size(12px);

  margin-right: 0;
  margin-left: auto;
  flex-shrink: 0;
}
