@import '../../styles/config';

.block {
  position: relative;
}

.field {
  @include size(100%, var(--default-height));

  padding: 0 50px 0 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--default-border-radius);
  background-color: var(--color-white);
  color: var(--color-text);
}

.icon {
  @include size(25px);

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: var(--default-transition);
  cursor: pointer;
  z-index: 1;

  &:before {
    @include size(2px, 25px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    background-color: currentColor;
    content: '';
  }

  &:hover,
  &.active {
    color: var(--color-primary);
  }

  &.active {

    &:before {
      display: none;
    }
  }
}
