@import '../../styles/config';

.header {
    @include flex($align-items: center);

    position: relative;
    padding: 50px 0;
    min-height: 500px;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        content: '';
    }
}

.picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card {
    @include flex($align-items: center, $wrap: wrap);

    position: relative;
    z-index: 1;
}

.favourite {
    @include size(40px);

    position: absolute;
    left: 0;
    top: 15px;
}

.photo {
    @include size(150px);

    overflow: hidden;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.name {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--color-white);
    font-weight: var(--medium);
}

.label {
    margin-bottom: 5px;
}

.text {
    color: var(--color-white);
}

.wrap {
    @include flex($align-items: center, $wrap: wrap);
}

.column {
    margin-right: 25px;
    margin-bottom: 10px;
}

.button {
    min-width: 120px;
    height: var(--default-height);
}

.wrapper {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    padding: 15px 20px;
    background-color: var(--color-secondary);
    border-radius: var(--default-border-radius);
    color: var(--color-title);
    font-size: 18px;
}

.body {
    padding: 20px;
}

.skill {
    margin-bottom: 20px;
}

.category {
    margin-bottom: 10px;
    color: var(--color-title);
}

.list {
    @include flex($align-items: center, $wrap: wrap);
}

.item {
    @include flex(center, center);

    padding: 0 10px;
    margin: 0 5px 5px 0;
    background-color: var(--color-secondary);
    border-radius: var(--default-border-radius);
    min-width: 50px;
    height: 30px;
    font-size: 13px;
}

.row {
    @include flex($align-items: center);

    padding: 5px 0;

    @include media-max(map-get($brackpoints, 'sm')) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cell {
    flex: 1;

    @include media-max(map-get($brackpoints, 'sm')) {
        margin-bottom: 3px;
    }
}
