@import '../../styles/config';

.block {
  @include flex($align-items: center);

  margin-top: 20px;
}

.item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  @include flex(center, center);
  @include size(var(--default-height));

  padding: 5px;
  background-color: #262626;
  border-radius: var(--default-border-radius);

  path {
    fill: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary);
  }
}
