@import '../../../styles/config';

$border-radius: 5px;

.block {
  @include size(1000px, 50px);
  @include flex($align-items: center);

  position: relative;
}

.wrapper {
  @include size(100%);

  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.input {
  @include size(100%);

  padding: 0 150px 0 20px;
  border: 0;
}

.link {
  @include size(100px, 40px);

  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.close {
  @include size(20px);

  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  cursor: pointer;

  path {
    transition: 0.3s;
  }

  &:hover {

    path {
      fill: var(--brand);
    }
  }
}

.dropdown {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
