@import '../../styles/config';

.block {
  @include size(100%);
  @include flex($align-items: center);

  position: relative;
  padding: 0 2px;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked + label::before {
    border-color: var(--brand);
    background-color: var(--brand);
  }

  //&:focus+label::before {
  //  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  //}
  //
  //&:focus:not(:checked)+label::before {
  //  border-color: #80bdff;
  //}
}

.label {
  @include flex($align-items: center);

  cursor: pointer;
  flex-grow: 1;

  &::before {
    @include size(16px);

    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    flex-shrink: 0;
    content: '';
  }
}

