:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #00e2bd;
  --color-secondary: #f0f0f0;
  --color-border: #e0e0e0;
  --color-title: #222;
  --color-text: #666;
  --color-yellow: #febe42;
  --color-red: #f00;
  --color-b-google: #dd4b39;
}
