@import '../../../styles/config';

.block {
  @include size(100%);
}

.link {
  @include size(100%, 50px);
  @include flex($align-items: center);

  padding: 0 25px;

  &:hover,
  &.active {
    color: var(--color-primary);

    path {
      opacity: 1;
      fill: var(--color-primary);
    }
  }
}

.icon {
  @include size(22px);

  margin-right: 10px;

  path {
    opacity: 0.5;
    transition: var(--default-transition);
  }
}
