@import '../../styles/config';

.block,
.item {
  @include flex($align-items: center);
}


.block {
  padding: 30px 0;
}

.item {

  &:last-child {

    .divider {
      display: none;
    }
  }
}

.link {
  color: var(--color-primary);
}

.divider {
  margin: 0 8px;
}
