@import '../../styles/config';

.block {
  @include flex($align-items: center);

  padding: 30px 0;
}

.item {
  @include flex($align-items: center);

  &:last-child {

    .divider {
      display: none;
    }
  }
}

.link {
  position: relative;
  color: var(--color-primary);
}

.divider {
  margin: 0 8px;
}
