@import '../../styles/config';

$md: map-get($brackpoints, 'md');

.block {
  @include flex($align-items: center);

  position: relative;
  height: 500px;

  @include media-max($md) {
    height: 300px;
  }
}

.picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 226, 189, 0.95) 10%, rgba(0, 226, 189, 0.75) 20%, rgba(250, 250, 250, 0.1) 70%, rgba(250, 250, 250, 0) 100%);
    content: '';
  }
}

.content {
  @include flex($justify-content: center, $direction: column);
  @include size(100%);

  position: relative;
  padding: 0 $grid-padding;
  margin-right: auto;
  margin-left: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);
  z-index: 1;
  color: var(--color-white);
}

.title,
.subtitle {
  color: var(--color-white);
  font-weight: var(--medium);
}

.title {
  margin-bottom: 10px;

  @include media-max($md) {
    font-size: 20px;
  }
}

.subtitle {

  @include media-max($md) {
    font-size: 18px;
  }
}

.description {
  font-size: 18px;
}
