@import "./styles/config";

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-grey);
  z-index: 20;
}

.content {
  @include flex($direction: column);

  padding-top: 95px;
  min-height: 100vh;

  //position: relative;
  //
  //&::before,
  //&::after {
  //  @include size(1500px, 2475px);
  //
  //  position: absolute;
  //  z-index: -1;
  //  content: '';
  //}
  //
  //&::before {
  //  right: -465px;
  //  bottom: 0;
  //  background: radial-gradient(50% 50% at 50% 50%, #734E26 0%, rgba(55, 37, 17, 0) 100%);
  //
  //}
  //
  //&::after {
  //  bottom: -275px;
  //  left: -565px;
  //  background: radial-gradient(50% 50% at 50% 50%, #792F70 0%, rgba(89, 59, 85, 0) 100%);
  //}
}
