@import "./styles/config";

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-grey);
  z-index: 20;
}

.content {
  @include flex($direction: column);

  padding-top: 11px;
  min-height: 100vh;
}
