@import '../../../styles/config';

$md: map-get($brackpoints, 'md');

.block {
  @include flex($align-items: center);

  padding-left: 30px;

  @include media-max($md) {
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 90px 0 0;
    margin: 0;
    z-index: 11;
    background-color: var(--color-white);
    transition: var(--default-transition);
    box-shadow: var(--box-shadow-lg);
    transform: translateX(-100%);
    opacity: 0;
    width: 320px;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.item {
  position: relative;
  margin: 0 10px;
  list-style: none;

  &:first-child {
    position: static;
    margin: 0;
  }

  @include media-max($md) {
    margin: 0;
    width: 100%;
  }
}

.link {
  @include flex(center, center);

  &.active,
  &:hover {
    color: var(--color-primary);
  }

  @include media-max($md) {
    justify-content: flex-start;
    padding: 10px 20px;
    width: 100%;
  }
}

.icon {
  @include size(50px);

  display: none;
  position: absolute;
  top: 15px;
  right: 15px;

  @include media-max($md) {
    display: block;
  }
}

.count {
  @include flex(center, center);
  @include size(19px);

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(90%, -70%);
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-white);
  font-size: 11px;

  @include media-max($md) {
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
  }
}
