@import "../../styles/config";

.block{

  &.active {

    .icon {
      transform: rotateZ(-90deg);
    }

    .body {
      display: block;
    }
  }
}

.title {
  position: relative;
  cursor: pointer;
  padding: 15px 50px 15px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.body {
  padding: 15px 20px;
}

.icon {
  @include size(15px);

  position: absolute;
  top: 18px;
  right: 20px;
  color: var(--color-white);
  transform: rotateZ(90deg);
  transition: var(--default-transition);

  svg {
    fill: currentColor;
  }
}

.body {
  display: none;
}
