@import '../../styles/config';

.block {
  position: relative;
  padding-top: 270px;
  overflow: hidden;

  &::before {
    position: absolute;
    right: -45px;
    left: -45px;
    bottom: -70px;
    height: 505px;
    background: linear-gradient(0, #353535 0%, rgba(84, 84, 84, 0) 100%);
    z-index: -1;
    content: '';

    @include media-max(map_get($brackpoints, lg)) {
      height: 305px;
    }

    @include media-max(map_get($brackpoints, sm)) {
      bottom: 0;
    }
  }

  @include media-max(map_get($brackpoints, lg)) {
    padding-top: 200px;
  }

  @include media-max(map_get($brackpoints, md)) {
    padding-top: 120px;
  }
}

.top {
  margin-bottom: 20px;
}

.bottom {
  text-align: center;
}

.row {
  align-items: center;
}

.navigation {
  @include flex(flex-end, center);

  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;

  @include media-max(map_get($brackpoints, md)) {
    flex-wrap: wrap;
  }
}

.item {
  margin: 10px 0;
  width: 50%;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @include media-min(map_get($brackpoints, md)) {
    margin: 0 52px 0 0;
    width: auto;
    text-align: left;
  }
}

.text,
.link {

  &.sm {
    font-size: 12px;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
  }
}

.rules {
  @include flex($align-items: center);

  @include media-max(map_get($brackpoints, md)) {
    justify-content: center;
  }
}

.divider {
  @include size(1px, 10px);

  margin: 0 5px;
  background-color: var(--color-white);
}

.toggle {
  position: absolute;
  right: $grid-margin;
  top: -180px;
  z-index: 1;

  @include media-min(map_get($brackpoints, md)) {
    position: static;
    margin-right: 0;
    margin-left: auto;
    width: 105px;
  }
}
