@import "../../styles/config";

.block{
  @include size(100%);
  @include flex(center, center, column);

  position: relative;
  padding: 10px;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(16, 24, 34, 0.6) 30%, var(--color-secondary) 140%);
    content: '';
  }

  &:hover {

    .img {
      transform: scale(1.2);
    }
  }
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--default-transition);
}

.nickname {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
