@import '../../styles/config';

.block {
  @include size(100%);

  border-radius: 25px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow-sm);
  transition: var(--default-transition);

  &:hover {
    background-color: transparent;

    .link {
      color: var(--color-primary);
    }
  }
}

.link {
  @include size(100%);
  @include flex(center, center);

  padding: 8px 15px;
  color: var(--color-white);
  font-family: var(--font-family-additional);
  white-space: nowrap;
}
