@import "../../styles/config";

.faq {
  margin: 0 auto;
  border-radius: var(--default-border-radius);
  box-shadow: var(--box-shadow-lg);
  background-color: var(--color-white);
  overflow: hidden;
  width: 100%;
  max-width: 800px;
}

.item {
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}
