body {
  @include smooth-font;

  background-color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: var(--line-height);
  min-width: var(--min-width);
}

a {
  cursor: pointer;
  color: var(--font-color);
  transition: 0.3s;
  text-decoration: none;
}

button {
  @include reset-button;

  cursor: pointer;
  transition: 0.3s;
  font-family: var(--font-family-additional);

  &:focus {
    outline: none;
  }
}

textarea,
input {

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: var(--line-height);
  color: var(--color-title);
}


h1 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}


svg,
img {
  @include size(100%);

  display: block;
  object-fit: cover;
}
