@import '../../../styles/config';

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.form,
.wrapper {
  margin-bottom: 50px;
}

.wrapper {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--default-border-radius);

  &:last-child {
    margin-bottom: 0;
  }
}

.head,
.body {
  padding: 20px;
}

.body {
  position: relative;
}

.form {

  &.disabled {
    pointer-events: none;
  }

  &.margin {
    margin: 0;
  }
}

.head {
  border-bottom: 1px solid var(--color-border);
}

.title {
  color: var(--color-title);
}

.block {
  padding: 5px 0;
}

.wrap {
  margin-bottom: 20px;
}

.photo {
  @include size(100px);

  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.check {
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  box-shadow: var(--box-shadow-sm);
  transition: var(--default-transition);
  min-width: 100px;
  color: var(--color-primary);
  font-family: var(--font-family-additional);
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }
}

.file {
  display: none;
}

.list {
  @include flex($wrap: wrap);
}

.item {
  @include flex(center, center);

  padding: 0 10px;
  margin: 0 5px 5px 0;
  background-color: var(--color-secondary);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  min-width: 50px;
  height: 30px;
  font-size: 13px;

  &.active,
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.label {
  margin-bottom: 10px;

  span {
    color: var(--color-red);
  }
}

.dropdown {
  @include size(100%, var(--default-height));

  padding: 0 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--default-border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-sm);
  color: var(--color-text);
}

.dropdown {
  position: relative;
  cursor: pointer;

  .toggle {
    display: none;
  }

  &.active {

    .toggle {
      display: block;
    }
  }
}

.select {
  @include flex($align-items: center);
  @include size(100%);
}

.toggle {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-sm);
  border: 1px solid var(--color-border);
  max-height: 300px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: var(--color-primary);
  }
}

.value {
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border);
  transition: var(--default-transition);

  &:last-child {
    border-bottom: 0;
  }

  &.active,
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}
