@import "../../styles/config";

.block {
  @include size(100%, 35px);
  @include flex($align-items: center);
}

.wrap {
  flex: 1;
  height: 100%;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.field {
  @include size(100%);

  padding: 0 10px;
  box-shadow: var(--box-shadow-sm);
  border: 1px solid var(--grey-200);
  border-radius: 4px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
